form.form .req{
   color: red;
}

form.form ul {
    margin: 0;
    padding: 0;
}

form.form li {
    clear: left;
    display: block;
    margin: 6px 0px;
    padding: 3px;
}

form.form .tinymce-preload {
    border: 1px solid #CCC;
    height: 240px;
    width: 500px;
    display: block;
}

/* error handling */
form.form .errorLi {
    border:1px solid red;
    text-align: center;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
}

form.form li.error{
    background-color: #FFDFDF;
}

form.form li.error label.desc, form.form p.error, form.form h3.errorMsgLbl{
    color: #DF0000;
}

form.form p.error{
    font-size: 70%;
}
