body {
	font-family: Verdana, Arial, sans-serif;
	font-style: normal;
	padding: 0px;
	margin: 0px;
	font-size: 75%;
}
h1 { font-size: 150%; font-weight: bold; margin-bottom: 0px; }
h2 {
	font-size: 150%;
	font-weight: bold;
	width: 100%;
	color: #999999;
	margin-bottom: 5px;
	padding-bottom: 0px;
}
h3 { font-weight: bold;	font-size: 120%; margin-bottom: 0px; }
h4 { font-weight: bold;	font-size: 100%; margin-bottom: 5px; }
#main p { margin-top: 0px; margin-bottom: 10px; }
#main pre { font-family: Courier, monospace; font-size: 110%; }
#main br.clearboth { clear:both; }

/*forms--------------------------------------------------*/
.poolform { }
.poolform .formHeader { color: #999999; border-bottom: 1px solid #e5e5e5; padding-bottom: 5px; }
.poolform .formFooter { color: #999999; border-top: 1px solid #e5e5e5; padding-top: 5px; clear:both; }
.poolform .section { clear:both; margin-top: 10px; }
.poolform .sectionHeader { 
	font-size: 150%;
	font-family: Times, serif;
	font-weight: bold;
	width: 100%;
	display: block;
	color: #999999;
	border-bottom: 1px dotted #996600;
	margin-bottom: 0px;
	margin-top: 10px;
	padding-bottom: 0px;
}
.poolform ul {margin:0px; padding:0px; }
.poolform li {margin:0px; padding:0px; list-style: none; }
.poolform .sectionDescription { display: block; }
.poolform .fieldRow { clear:both; margin-top: 10px; }
.poolform .fieldName { width: 130px; padding-right:10px; float: left; text-align: left; }
.poolform .fieldEdit { width: 220px; float: left; }
.poolform .fieldDescription { clear: both; color: #999999; }
.poolform span.clear { clear:both; }
.poolform .formOptions { clear:both; margin-top: 10px; margin-bottom: 10px; padding-left: 140px; }
.poolform .formOptionsleft { clear:both; margin-top: 10px; margin-bottom: 10px; }
.poolform input, .poolform select { border: 1px solid #084b8f; margin: 0px; width: 220px; }
.poolform textarea { border: 1px solid #084b8f; margin: 0px; width: 220px; height: 100px; }
.poolform input[type="radio"] { margin: 0px; width: auto; }
.poolform input[type="checkbox"] { margin: 0px; width:auto; }
.poolform div.mcb { width:200px; float:left; padding:4px; }
.poolform .optional { color:#999999; }
.poolform button { 
	font-weight: bold; 
	background-color: #084b8f; 
	border: none;
	color: white;
	width: auto; 
}
.poolform input:focus, .poolform textarea:focus { background-color: #e5ffe5; }
.boxAlert { border: 1px solid #999999; background-color: #ffcaca; width: auto; padding: 10px; }
.boxOK { border: 1px solid #999999; background-color: #ecffc6; width: auto; padding: 10px; }
.boxAlert li, .boxOK li { list-style: none; }
/* error handling */
.poolform .req { color: red; }
.poolform .errorLi { margin-bottom:10px; border:1px solid red; text-align: center; -webkit-border-radius:20px; -moz-border-radius:20px; }
.poolform .error { background-color: #FFDFDF; }
.poolform .error label.desc, .poolform p.error, poolform h3.errorMsgLbl { color: #DF0000; }
.poolform p.error { font-size: 80%; padding-bottom:4px; margin:0px;}

/*elements--------------------------------------------------*/
.pageelement { margin-bottom: 10px; }
.peSeparator { clear:both; margin-bottom: 0px; }
.peSeparator.h0 { height: 3px; }
.peSeparator.h1 { height: 1em; }
.peSeparator.h2 { height: 2em; }
.peFile a {
	display: block;
	margin-top: 5px; 
	padding-left: 20px;
	background-image: url(imgs/download.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.peImage { clear:both; }
.peImage div.title { color: #666666; font-size: 90%; }
.peImage div.left { margin-right: 20px; margin-bottom: 10px; float:left; }
.peImage p { padding-bottom: 0px; margin-bottom: 0px; }
.peImage .header .itext { 
	width: 210px; 
	padding: 5px; 
	color: white; 
	background-color: #084b8f;
	filter:alpha(opacity=90); /* IE */
	-moz-opacity: 0.90; /* Mozilla */
	opacity: 0.90; /* Opera */
}
.peImage .header .itext h3 { font-size: 150%; margin-top: 0px; }
.peImage .header a { color: white; }
.peImage .teaser img { display: block; width: 220px; margin-right: 20px; float: left; margin-bottom: 10px; }
.peImage .teaser_s img { display: block; width: 100px; margin-right: 10px; float: left; margin-bottom: 10px; }
.peImage .teaser .itext h3, .peImage .teaser_s .itext h3 { font-family: Verdana, Arial, sans; font-size: 100%; }
.peImage .teaser .itext { margin-left: 240px; }
.peImage .teaser_s .itext { margin-left: 110px; }
.peNews { clear:both; }
.peNews p { padding-bottom: 0px; margin-bottom: 0px; }
.peNews .header img { display: block; margin-right: 10px; float: left; margin-bottom: 10px; }
.peNews .teaser img { display: block; width: 220px; margin-right: 20px; float: left; margin-bottom: 10px; }
.peNews .teaser_s img { display: block; width: 100px; margin-right: 10px; float: left; margin-bottom: 10px; }
.peNews h3 { font-family: Verdana, Arial, sans; font-size: 100%; }
.peNews .teaser .itext { margin-left: 240px; }
.peNews .teaser_s .itext { margin-left: 110px; }
.peNews .newsline { margin-bottom:5px; }
.peNews .newsline h4 { width: 240px; float:left; padding:0px; margin:0px; }
.peNews span.date { color:#333333; }
.peNews span.dateright { float:right; margin-right:10px; color:#333333; }
.peLink {
	padding-top: 5px; 
}
.peLink a {
	display: block;
	padding-left: 20px;
	background-image: url(imgs/arrow.png);
	background-repeat: no-repeat;
	background-position: left;
}
.peText { margin-bottom: 0px; }
.peText div.small { color: #666666; font-size: 90%; }
.peText h2 { clear:both; }
.peBox { heigth:1em; }
.peBox.cols1_2 { width: 48%; margin-left: 1%; margin-right: 1%; float: left; }
.peBox.cols1_3 { width: 31%; margin-left: 1%; margin-right: 1%; float: left; }
.peBox.cols2_3 { width: 65%; margin-left: 1%; margin-right: 1%; float: left; }
.peBox.colsRight1_2 { width: 48%; margin-left: 1%; margin-right: 1%; float: right; }
.peBox.colsRight1_3 { width: 31%; margin-left: 1%; margin-right: 1%; float: right; }
.peBox.colsRight2_3 { width: 65%; margin-left: 1%; margin-right: 1%; float: right; }
.peMenublock a {
	display: block;
	margin-top: 5px; 
	padding-left: 20px;
	background-image: url(imgs/arrow.png);
	background-repeat: no-repeat;
	background-position: left;
}
.peNote { background-color:#eeFF00; border: 1px solid #CECECE; padding: 10px; }


